/* ----------------------before content-------------------------- */
/* ---------------------header --------------------------- */

.hero {
    transition: all 100ms ease-in-out;
    margin-bottom: 3em;
}
.hero:hover {
    filter: brightness(.4);
}

.hero:hover .hero-text{
    filter: brightness(1);
}
hr {
    margin: 3em;
    width: 70%;
    /* padding: 0 2em; */
}
.nav-bar li{
    color: white;
    display: inline;
    margin-left: 50px;
}

li{
    list-style: none;
}

header {
    padding: 30px 50px;
    position: fixed;
    background-color: #181f2a;
    top: 40px;
    left: 550;
    right: 0;
    border: 1px solid white;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url(./images/Assasins-creed.jpg);
    background-repeat: no-repeat;
}

.hero-text {
    position: absolute;
      text-align: center;
      top: 50%;
      left: 20%;
      right: 20%;
}

.hero-text h1{
    letter-spacing: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 30px;
    margin-bottom: 20px;
    font-size: 50px;
}

button{
    all: unset;
    outline: 2px solid whitesmoke;
    outline-offset: 3px;
    border: 1px solid white;
    padding: 20px 70px;
    margin: 30px ;
    font-size: larger;
}

button:hover{
    padding: 30px 80px;
    font-weight: 900;
    background: #181f2a;
}

@media (max-width: 500px) and (min-width:300px){
    header {
    top: 40px;
    left: 550;
    }

    .hero{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
    }

    .nav-bar{
        margin-left: 0;
        flex-direction: column;
    }
}


/* ------------------------victor------------------------ */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gaming {
    display: flex;
    margin-bottom: 30px;
    margin-left: 250px;
    padding: 20px 30px;
    background: linear-gradient(to right white, black);
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
    background: linear-gradient(to right, white, rgba(0, 0, 0, 0.788));
    width: 60%;
    transition: all 300ms ease-in-out;
}

.gaming-1 {
    display: flex;
    margin-bottom: 30px;
    margin-right: 90px;
    margin-left: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    flex-wrap: wrap;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.452);
    background: linear-gradient(to right, white, rgba(0, 0, 0, 0.788));
    width: 60%;
    transition: all 300ms ease-in-out;
}

.text {
    width: 50%;
}

.text h2 {
    color: goldenrod;
    font-size: 3rem;
    margin-bottom: 15px;
}

.desc p {
    font-size: 1.5rem;
}

.image {
    width: 40%;
}

.image img {
    width: 100%;
}

.gaming:hover {
    width: 70%;
}

.gaming-1:hover {
    width: 70%;
}



/* -----------------------------------chukwuemeka----------------------- */

.section-two {
    margin-bottom: 4em;
}

.nav-bar img {
    width: 100px;
}

.game-pic1 img {
    width: 100%;
}

.game-pic2 img {
    width: 90%;
}



.game-text1 {
    display: flex;
    align-items: center;
    padding: 1.7em;
    text-align: center;
    width: 70%;
    min-width: 30%;
    min-height: 30%;
}

.game-text1 h2 {
    font-size: 5rem;
    color: yellow;
    letter-spacing: 10px;
    min-width: 100px;
}

.game1 {
    display: flex;
    width: 100%;
}

.game-text2 h2 {
    font-size: 5rem;
    color: yellow;
    letter-spacing: 5px;
    margin-top: .75em;
    margin-bottom: .5em;
}

span {
    color: white;
    display: inline;
    font-size: 4.5rem;
    font-family: "Gill Sans MT"
}

.game2 {
    display: flex;
    padding-left: 3em;
}

.game-text2 {
    flex: 1;
}

.button2 {
    all: unset;
    outline: 2px solid whitesmoke;
    color: yellow;
    outline-offset: 3px;
    border: 1px solid white;
    padding: 20px 70px;
    font-size: 2rem;
    word-spacing: 1px;
    letter-spacing: 12px;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.button2:hover {
    padding: 30px 110px;
    font-weight: 900;
    transition: all ;
    background-color: crimson;
}

.game-pic2 {
    width: 100%;
    flex: 2;
}

.game-pic2 img {
    width: 100%;
}


/* ----------------------------------------- chukwuemeka's end------------------------ */

/* ----------------------------------Louisa----------------------------------------- */

.main {
    background-color: black;
    color: white;
}

.title {
    color: white;
}

.title h2 {
    text-align: center;
    font-size: 5em;
    margin-bottom: .75em;
    letter-spacing: 5px;
}

.grid {
    display: flex;
    width: 100%;
}

.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 250ms ease-in-out;
}

.image1 {
    flex: 1;
    width: 100%;
    height: 400px;
    position: relative;
   
}

.hover-text {
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 20%;
    font-size: 3rem;
    font-weight: 900;
    opacity: 0;
    letter-spacing: 5px;
}

.image1:hover img{
    filter: brightness(.3);
}

.image1:hover .hover-text{
    opacity: 1;
}
.footer{
    background: linear-gradient(to bottom, white, rgb(107, 105, 105) );
    width: 100%;
    margin-top: 25px;
    color: black;
    padding-top: 7px;
    padding-bottom: 7px;
}
.footer_text{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
    
}
.highlight{
    color:rebeccapurple;
    font-weight: 900;
    font-size: 30px;
    margin-right: 10px;
    letter-spacing: 3px;
}
/* ----------------------------------victor's MQ ----------------------------- */

@media (max-width: 1060px) and (min-width: 949px) {

    .text h2 {
        font-size: 2rem;
    }

    
}



@media (max-width: 950px) and (min-width: 839px) {

    

    .text h2 {
        font-size: 1.7rem;
    }

}



@media (max-width: 840px) and (min-width: 320px) {


    .gaming {
        flex-direction: column;
        margin-right: 0;
        margin: 20 auto;
        align-items: center;
        
    }


    .gaming-1 {
        flex-direction: column;
        align-items: center;
        margin: 20 auto;
    }

    .gaming .img {
        width: 0;
    }

    .text {
        width: 100%;
    }

    .grid {
        flex-direction: column;
        /* margin-bottom: .2em; */
        padding: 0 .5em;
    }
    
    .hover-text{
        font-size: 1.7rem;
    }
}



/* ------------------------------ chukuwuemeka's MQ ----------------------------- */
@media(max-width:1290px) {


    .game-text1 h2 {
        font-size: 2rem;
    }

    .game1 {
        flex-direction: column;
        width: 100%;
    }

    .game2 {
        flex-direction: column-reverse;
        width: 90%;
    }

    .game-pic2 {
        width: 100%;
    }

    .game-pic2 img {
        width: 100%;
        text-align: center;
    }
    .game-text2 h2,.game-text2 span{
        text-align: left;
        font-size: 2rem;
    }
    .game-text2 {
        width: 100%;
    }
}